
.form-group{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.formInfo{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mb-10{
    margin-bottom: 10px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    input{
        padding: 5px;
        border-radius: 8px;
        margin-bottom: 15px;
        height: 40px;
    }
}
.m-5{
    margin-top: 20px;
}
.text-bg-danger{
    color: red;
}
.mb-4{
    width: 100%;
    gap: 10px;
}