@import '../../vars.scss';
.idle{
    color: black;
    width: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.active{
    align-items: center;
    min-height: 20px;
    background-color: $btn-active;
    color: white;
    border-radius: 3px;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
